* {
  /* basis: 0% => be as small as possible  */
  flex: 0 0 0%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#chat-container {
  /* first be as small as possible, then grow as possible and shrink if overflow. Flex:1 = Flex: 1 1 0 */
  display: flex;
  flex: 1 1 0%;
}
#side-bar {
  flex: 0 1 0%;
  display: flex;
  flex-direction: column;
}
#chat-window {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}
#conversation-list {
  flex: 1 1 0%;
}
#search-container {
  flex: 0 0 71px;
  /* since default flex main axis is horizontal, child elements will try to shrink horizontal and grow vertical */
  display: flex;
  /* changing flex direction to row force child elements shrink vertical grow horizontal */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#search-container > input {
  /* before flexing, set main axis length of item 30px which is vertical in our case(height). And no grow or shrink */
  flex: 0 0 30px;
}

#new-message-container {
  display: flex;
  flex: 0 0 78px;
  /* in flexbox, items try to grow cross-axis and shrink main axis.However align-items force them to shrink cross-axis too. */
  align-items: center;
}
#new-message-container > a {
  /* no shrink, no grow, just 40px on main-axis */
  flex: 0 0 40px;
  display: flex;
  /* plus sign in center */
  align-items: center;
  justify-content: center;
}

#chat-message-list {
  /* grow main axis(since direction column, main axis is vertical) 0 basis is be small as possible*/
  flex: 1 0 0%;
}

#chat-title {
  flex: 0 0 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chat-title > span {
  flex: 1 0 0%;
}

.trash-logo {
  flex: 0 0 36px;
}

#chat-form{
  flex: 0 0 78px;
  display: flex;
  align-items: center;
}

#chat-form > input{
  flex: 1 0 0%;
}


#attachment-logo {
  flex: 0 0 32px;
}